body {
  background-image: linear-gradient(to right, #111454, #191d62);
  color: #fff;
  box-sizing: border-box;
  font-family: "Andada Pro", serif;
  margin: 0;
  padding: 0;
}

/* Utilities*/
.flex-align {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 50px 0 50px;
}

img {
  width: 600px;
}

h2 {
  font-size: 52px;
  margin: 25px 0;
}

p {
  font-size: 16px;
  line-height: 1.3em;
}

i {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

#what-is-sect,
#what-is-one,
#what-is-three,
#benefits-sect,
footer {
  background-color: #040842;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}

/* Logo */
#logo img {
  width: unset;
}
#logo {
  padding-top: 25px;
  padding-left: 15px;
}

/* Navbar */
nav {
  padding-top: 20px;
}

nav ul li {
  display: inline;
  list-style: none;
  padding: 0 30px;
}

nav ul li a:hover {
  border-bottom: 2px solid #fff;
  color: #eee;
}

/* Hero Section */
#hero-sect section p {
  padding-right: 55px;
}

#hero-sect img {
  -webkit-animation: mover 1.5s infinite alternate;
  animation: mover 1.5s infinite alternate;
  padding-top: 70px;
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

/* What Is Section */
#what-is-two {
  background-image: linear-gradient(to right, #111454, #191d62);
}

#what-is-sect h2 {
  text-align: center;
  padding-top: 50px;
  margin: unset;
  font-size: 46px;
}

.triangle-icon {
  width: 0px;
  height: 0px;
  border-style: inset;
  border-width: 0 25px 40px 25px;
  border-color: transparent transparent #1379e7 transparent;
}

.triangle-icon p {
  text-align: center;
  top: 16px;
  left: -25px;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0px;
  color: #fff;
}

#what-is-one div h2,
#what-is-two div h2,
#what-is-three div h2 {
  text-align: left;
  padding-top: 0;
  margin: 15px 0;
  font-size: 46px;
}

#what-is-two img {
  margin-right: 70px;
}

#what-is-one div p,
#what-is-three div p {
  padding-right: 55px;
}

/* Video Section */

#video-sect {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  background: url(/images/video.jpg) no-repeat center center rgb(25 29 98 / 90%);
  background-size: cover;
  background-blend-mode: multiply;
}

#video-sect h2 {
  font-size: 46px;
  margin-bottom: 0;
}

#video-sect p {
  margin-top: 10px;
}

#video-sect i {
  font-size: 56px;
}

/* Benefits Section */
#benefits-sect {
  flex-direction: column;
  padding-bottom: 50px;
}

#benefits-sect h2 {
  font-size: 46px;
  margin-bottom: 25px;
}

#card-boxes {
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
}

.sub-card-box {
  margin: 0 20px;
  padding-top: 30px;
  height: 300px;
  width: 28%;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.sub-card-box:hover {
  background-color: #4b4f9c;
  transform: scale(1.05, 1.05);
  cursor: pointer;
  transition: ease-in-out 0.3s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sub-card-box i {
  font-size: 52px;
  border: 1px solid #fff;
  padding: 18px;
  border-radius: 50%;
}

.sub-card-box p {
  padding: 0 20px;
}

.sub-card-box a:hover {
  text-decoration: underline;
}

/* Resources Section */
#resources-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: inherit;
  justify-content: center;
  padding: 0px 50px;
}

#resources-txt h2 {
  font-size: 42px;
}

#resources-txt button {
  background: #1379e7;
  border: none;
  border-radius: 25px;
  padding: 18px 50px;
  cursor: pointer;
}

#resources-txt button:hover {
  background: #0051a8;
}

/* Subscribe Form */

#subscribe-form {
  height: 130px;
  display: flex;
  align-items: center;
  position: relative;
  top: 90px;
  background-image: linear-gradient(to right, #12134f, #10134f);
  width: 85%;
  margin: 0 auto;
  border-radius: 50px;
  padding: 30px 0;
}

#subscribe-form section {
  display: grid;
  margin: 0 auto;
}

#item-1 {
  grid-template-columns: 400px;
}

#item-1 h2 {
  font-size: 42px;
}

#item-1 h2,
#item-1 p {
  margin: 0;
}

#item-1 p {
  margin-top: 10px;
}

#item-2 {
  grid-template-columns: 290px 130px;
  grid-gap: 10px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  color: #fff;
}

input[type="email"] {
  background-color: #1c1e61;
  border: none;
  border-radius: 25px;
  padding: 13px 22px;
  height: 25px;
  color: #fff;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.425);
}

button {
  background: #1379e7;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

button:hover {
  background: #0051a8;
}

input {
  border: none;
}

/* Footer */

footer {
  display: flex;
  height: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0 0 0;
}

footer div {
  padding: 0 50px;
}

footer div img {
  width: 160px;
  height: 40px;
  padding-right: 45px;
}

footer ul {
  padding: unset;
}

footer ul li {
  display: inline;
  list-style: none;
  padding-right: 10px;
}

footer i {
  font-size: 24px;
  padding-right: 20px;
}

/***
  FAQ PAGE
***/

#faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

#faq h2 {
  margin: 0;
  font-size: 46px;
}

#faq-heading {
  width: 50%;
  margin-top: 13px;
  text-align: center;
  font-size: 16px;
}

#faq hr {
  width: 90px;
  border: 2px solid #434da7;
}

#accordion {
  padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#accordion-col-one,
#accordion-col-two {
  width: 43%;
}

#accordion details {
  background: #434da7;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 30px 30px 25px 30px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

#accordion details {
  transition: height 0.5s ease;
  overflow: hidden;
}

#accordion details p {
  font-size: 15px;
}

#accordion details:not([open]) {
  height: 1.5em;
}

#accordion details[open] {
  height: 6.8em;
}

#accordion details[open] summary ~ * {
  animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    margin-left: -10px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

/***
  RESOURCES PAGE
***/

#resources {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

#resources h2 {
  margin: 0;
  font-size: 46px;
}

#resources hr {
  width: 193px;
  border: 2px solid #434da7;
}

#resources-heading {
  width: 50%;
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 16px;
}

.courses {
  display: grid;
  grid-template-columns: 350px 700px;
  grid-gap: 1rem;
  justify-content: center;
  padding-bottom: 20px;
}

.courses div img {
  width: 350px;
}

.courses h2 {
  text-align: center;
  font-size: 46px;
}

.courses p {
  text-align: center;
  font-size: 16px;
}

.bg-color {
  background: #434da7;
  border-left: 3px solid #ffbc00;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

/**
  MEDIA QUERIES
**/

@media all and (min-width: 320px) and (max-width: 899px) {
  /* Utilities */
  .flex-align {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 7px 25px 0 25px;
  }
  img {
    width: 300px;
  }
  h2 {
    font-size: 36px;
    margin: 15px 0;
    text-align: center;
  }
  p {
    font-size: 12px;
    line-height: 1.3em;
    text-align: center;
  }

  /* Header */
  header {
    padding: unset;
  }
  nav {
    display: none;
  }

  /* Hero Section */
  #hero-sect img {
    padding-top: 20px;
  }
  #hero-sect section p {
    padding-right: unset;
  }

  /* What Is Section */
  #what-is-sect h2 {
    font-size: 36px;
  }
  .triangle-icon {
    margin: 0 auto;
  }
  #what-is-one div h2,
  #what-is-two div h2,
  #what-is-three div h2 {
    padding-top: 0;
    font-size: 36px;
    text-align: center;
  }
  #what-is-one div p,
  #what-is-three div p {
    padding-right: unset;
  }
  #what-is-two img {
    margin-right: unset;
    order: 2;
  }

  /* Video Section */
  #video-sect h2 {
    font-size: 36px;
  }
  #video-sect p {
    padding-right: 10px;
    padding-left: 10px;
  }

  /* Benefits Section */
  #benefits-sect {
    height: 100%;
  }
  #benefits-sect h2 {
    font-size: 32px;
    margin-bottom: 25px;
  }
  #card-boxes {
    flex-direction: column;
    padding: unset;
  }
  .sub-card-box {
    margin: 0 auto;
    width: 85%;
  }

  /* Resources Section */
  section#resources-sect {
    height: 100%;
  }
  #resources-txt {
    padding: unset;
  }

  /* Subscribe Form */
  #subscribe-form {
    height: 250px;
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }
  #subscribe-form section {
    margin: 10px auto;
  }
  #item-1 h2 {
    font-size: 22px;
  }
  #item-1 {
    grid-template-columns: 250px;
  }
  #item-2 {
    grid-template-columns: 250px;
  }
  button {
    padding: 18px 50px;
  }

  /*Footer Section*/
  footer {
    flex-direction: column;
  }
  footer div img {
    padding-right: unset;
  }
  footer ul li {
    padding: 0 5px;
  }
  footer i {
    padding: 20px;
  }
}

@media all and (min-width: 500px) and (max-width: 899px) {
  /* Utilities */
  img {
    width: 400px;
  }

  /* Benefits Section */
  .sub-card-box {
    margin: 0 auto;
    width: 70%;
  }

  /* Subscribe Form */
  #subscribe-form {
    height: 250px;
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }
  #item-1 {
    grid-template-columns: 350px;
  }
  #item-2 {
    grid-template-columns: 350px;
  }
}

@media all and (min-width: 600px) and (max-width: 899px) {
  /* Utilities */
  img {
    width: 430px;
  }

  .flex-align {
    padding: 15px 50px 0 50px;
  }

  /* What Is Section */
  #what-is-one,
  #what-is-two,
  #what-is-three {
    padding: 20px 50px;
  }
  .sub-card-box {
    margin: 0 auto;
    width: 60%;
  }

  /* Subscribe Form */
  #item-1 {
    grid-template-columns: 450px;
  }
  #item-2 {
    grid-template-columns: 450px;
  }
}

@media all and (min-width: 900px) and (max-width: 1024px) {
  /* Utilities */
  img {
    width: 450px;
  }

  /* Benefits Section */
  #benefits-sect {
    padding: 15px 0;
  }
  .sub-card-box {
    margin: 0 5px;
    width: 33%;
  }

  /* Resources Section */
  #resources-sect {
    padding: unset;
  }
  #resources-txt {
    padding: 0px 20px;
  }

  /* Subscribe Form */
  #item-1 {
    grid-template-columns: 300px;
  }

  #item-1 h2 {
    font-size: 28px;
  }

  #item-1 p {
    font-size: 14px;
  }

  #item-2 {
    grid-template-columns: 270px 132px;
  }
}

@media all and (min-width: 600px) and (max-width: 899px) {
  /* Utilities */
  img {
    width: 430px;
  }

  .flex-align {
    padding: 15px 50px 0 50px;
  }

  /* What Is Section */
  #what-is-one,
  #what-is-two,
  #what-is-three {
    padding: 20px 50px;
  }

  /* Benefits Section */
  .sub-card-box {
    margin: 0 auto;
    width: 60%;
  }

  /* Subscribe Form */
  #item-1 {
    grid-template-columns: 450px;
  }
  #item-2 {
    grid-template-columns: 450px;
  }
}

@media all and (min-width: 900px) and (max-width: 1024px) {
  /* Utilities */
  img {
    width: 450px;
  }

  /* Benefits Section */
  #benefits-sect {
    padding: 15px 0;
  }
  .sub-card-box {
    margin: 0 5px;
    width: 33%;
  }

  /* Resources Section */
  #resources-sect {
    padding: unset;
  }
  #resources-txt {
    padding: 0px 20px;
  }

  /* Subscribe Form */
  #item-1 {
    grid-template-columns: 300px;
  }

  #item-1 h2 {
    font-size: 28px;
  }

  #item-1 p {
    font-size: 14px;
  }

  #item-2 {
    grid-template-columns: 270px 132px;
  }
}
